html,body,div,ul,li{
	margin:0 0;
	padding: 0 0;
	box-sizing: border-box;
}
ul{
	list-style-type: none;
}
li{
	display: inline-block;
}

.header{
	height: 50px;
	width: 100%;
	background-color: #413D3C;
	color: #FFFFFF;
}
.header-content{
	width: 960px;
	margin: 0 auto ;
	
}
.logo{
	float: left;
	line-height: 50px;
	font-size: 20px;
}
.header-navi{
	float: right;
	font-size: 12px;
}
.header-navi ul{
	margin-top: 5px;
}
.header-navi ul li{
	margin-left: 5px;
}
.header-navi ul li a{
	color: #FFFFFF;
}
.header-content:after{
	content: '';
	display: table-cell;
	clear: both;
}
.banner{
	height: 200px;
	width:100%;
	background-color: #5AD425;
}
.banner-content{
	position: relative;
	width: 960px;
	height: 100%;
	margin: 0 auto;
	
}
.page-nav{
	position: absolute;
	right: 0px;
	bottom: 5px;
}
.page-nav li{
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-left: 2px;
	text-align: center;
	line-height: 25px;
	font-size: 16px;
	background-color: #B4F598;
	border: 1px solid #000000;
}
.page-nav .page-active{
	height: 35px;
	padding-top: 10px;
	background-color: #FFFFFF;
}
.navi{
	height: 70px;
	width:100%;
	border-bottom: 1px solid #666666;
}
.navi-content{
	width: 960px;
	height: 70px;
	margin: 0 auto;
	position: relative;
}
.navi-content ul{
	position: absolute;
	bottom: 0px;
}
.navi-content ul li{
	margin-left: 0px;
	margin-right: 0px;
	display: inline-block;
	width: 100px;
	height: 50px;;
	border: 1px solid #666666;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	text-align: center;
	line-height: 50px;
	background-color: rgba(200,200,200,0.5);
}

.navi-content ul .navi-active{
	border-bottom-color: #FFFFFF ;
	background-color: #FFFFFF;
}
.container{
	width: 960px;
	margin: 0 auto;
	padding-bottom:15px;
}
.row1,.row2,.row3{
	width: 100%;
	margin-top: 8px;
	display: flex;
	display: -webkit-flex;
	justify-content: space-around;
	-webkit-justify-content: space-around;
}
.content{
	flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
	height: 150px;
	font-size: 16px;
	text-align: center;
	line-height: 150px;
	border: 1px solid #666666;
	margin-right: 8px;
}
.footer{
	padding-top: 20px;
	width: 100%;
	height: 80px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	background-color: #413D3C;
}

